<div class='container-fluid'>

  <div class='col-12'>
  <ngb-carousel>
  <ng-template ngbSlide>
    <img src="../assets/img/2.png" alt="Random first slide">
    <div class="carousel-caption">
      <h3>JADWAL TAYANG CINEMA KOTA MALANG</h3>
      <p>Istiana Ayu - Kresniawati</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/img/4.jpg" alt="Random second slide">
    <div class="carousel-caption">
      <h1>JADWAL TAYANG CINEMA KOTA MALANG</h1>
      <p>Istiana Ayu - Kresniawati</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/img/6.png" alt="Random third slide">
    <div class="carousel-caption">
      <h1>JADWAL TAYANG CINEMA KOTA MALANG</h1>
      <p>Istiana Ayu - Kresniawati</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/img/5.png" alt="Random fourth slide">
    <div class="carousel-caption">
      <h1>JADWAL TAYANG CINEMA KOTA MALANG</h1>
      <p>Istiana Ayu - Kresniawati</p>
    </div>
  </ng-template>
</ngb-carousel>
  </div>
 
  </div>